{$DOMAIN}:443 {
	reverse_proxy {$BACKEND_HOST}:{$BACKEND_PORT} {
		header_up Host {host}
		header_up Upgrade {http.request.header.Upgrade}
		header_up Connection {http.request.header.Connection}
		flush_interval -1 # 禁用缓冲 Disable buffering
		transport http {
			versions 1.1
		}
	}
}
